@import '_mixins';


body {
    white-space: pre-wrap;
    background-color: #17212D;
  }

  h2 {
      text-align: center;
  }

h3 {
    text-align: center;
    color: #3B4959;
   
}


.prev:hover {
   color: white;
   cursor: pointer;
}

.prev:active {
    color: paleturquoise;
    cursor: pointer; 
}

.next:hover {
    color: white;
    cursor: pointer; 
 }
 
 .next:active {
    color: paleturquoise;
    cursor: pointer; 
 }
 .heart-icon {
    font-size: 3rem;
 }

.site-container-one {
    @include container;
    display: grid;
    @include border;
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    grid-template-columns: repeat(2, 1fr);
}

.price-container {
//  @include border;
   grid-column: 1 / 4;
   @include containerColor;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   width: auto;
   margin: 3% 5% 5% 5%;
   padding: 5%;
   border-radius: 15px;
   height: 150px;
}

.price-container p {
    text-align: center;
    color: #CED1D3;

}

.details-container {
    // @include border;
    grid-column: 1 / 2;
    @include containerColor;
    // border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 5% 5% 5% 5%;
    padding: 5%;
    border-radius: 15px;
 

}

.details-container p {
    word-wrap: none;
    word-break: break-all;
    color: #CED1D3;
}

.title {
    text-align: center;
}

.vehicleImg-container {
    // @include border;
    // border: 2px solid black;
    @include containerColor;
    grid-column: 2 / 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 5% 5% 5% 5%;
    border-radius: 15px;
    padding: 5%;
  


    img {
        width: auto;
    }

}



