@import '_mixins';

body {
   white-space: pre-wrap;
   background-color: #17212D;
 }

 h2 {
     text-align: center;
 }

h3 {
   text-align: center;
   color: #3B4959;
}
p {
   color: #CED1D3;
}

.prev:hover {
   color: white;
   cursor: pointer;
}

.prev:active {
    color: paleturquoise;
    cursor: pointer; 
}

.next:hover {
    color: white;
    cursor: pointer; 
 }
 
 .next:active {
    color: paleturquoise;
    cursor: pointer; 
 }

.site-container-two {
    @include container;
    @include border;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
   height: 100vh;
}

.miles-container {
//    @include border;
   @include containerColor;
   grid-column: 1 / 1;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   text-align: center;
   width: auto;
   margin: 3% 5% 5% 5%;
   padding: 5%;
   border-radius: 15px;
   height: 150px;
}

.listPrice-container {
    // @include border;
    @include containerColor;
    grid-column: 2 / 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    margin: 3% 5% 5% 5%;
    padding: 5%;
    border-radius: 15px;
    height: 150px;
 }

 .monthlyPrice-container {
    // @include border;
    @include containerColor;
    grid-column: 3 / 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    margin: 3% 5% 5% 5%;
    padding: 5%;
    border-radius: 15px;
    height: 150px;
 }


.vehicleDetails-container{
    // @include border;
    @include containerColor;
    grid-column: 1 / 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 5% 5% 5% 5%;
    padding: 5%;
    border-radius: 15px;
    height: auto;

}

.vehicleImg-two-container {
    grid-column: 3 / 4;
    @include containerColor;
    // @include border;
    // border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 5% 5% 5% 5%;
    padding: 5%;
    border-radius: 15px;
    height: auto;


      img {
   max-width: auto;
   width: 300px;
   padding-left: .75%;
   }
}
