//re-useable styles
@mixin container {
    display: flex;
    justify-content: center;
}

@mixin border {
    border: 2px dashed black;
}

@mixin leftArrowOne {
    position: absolute;
    top: 10%;
    left: 26%;
    transform: translate(-50%,-50%);
    font-size: 3.5em;
}

@mixin leftArrowTwo {
    position: absolute;
    top: 58%;
    left: 26%;
    transform: translate(-50%,-50%);
    font-size: 3.5em;
}

@mixin rightArrowOne {
    position: absolute;
    top: 10%;
    right: 26%;
    transform: translate(-50%,-50%);
    font-size: 3.5em;  
}

@mixin rightArrowTwo {
    position: absolute;
    top: 58%;
    right: 26%;
    transform: translate(-50%,-50%);
    font-size: 3.5em;
}